# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea

# LaTeX artifacts
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.blg
*.bbl
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.lof
*.lot
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.loa
*.xdy

# LaTeX temporary files
*~
*.backup
*.bak
*.swp
*.swo
