.App {
    text-align: center;
    height: 100%;
}
#MultiviewContainer{
    height: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.col2{
    float: left;
    width: 50%;
}
.col-40{
    float: left;
    width: 40%;
}
.col-60{
    float: left;
    width: 60%;
}